%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "/"} BlockPartyIO
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      - if user_signed_in?
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to 'My Profile', profile_path(current_user), class: 'nav-link'
      = form_tag search_url, method: :get, class: 'd-flex' do |f| 
        %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search", name: 'q', value: params[:q]}/
        %button.btn.btn-outline-success{:type => "submit"} Search